
span.nav-group-item span.icon {
  color: blue;
}

div.content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: blue;
  text-decoration: underline;
}

li.link {
  color: blue;
  text-decoration: underline;
}

