.pane {
  border-left: none;
}
.pane-left {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.pane-left label {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.pane-right {
  margin-left: 5px;
  margin-right: 5px;
}
.pane-right .btn {
  height: 20px;
  margin-top: 5px;
}
