
div.toolbar-actions {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

ul.list-group li.list-group-item {
  padding-right: 10px;
}
ul.list-group li.list-group-item div.btn-group {
  padding-left: 10px;
}
ul.list-group li.list-group-footer {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

div.pane form {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
div.btn-group-convert {
  padding-left: 20px;
}
div.btn-group-convert .btn{
  margin-right: 5px;
}

