div.window-content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.box {
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
input[type="number"] {
  width: 60px;
}
span.splitter {
  margin-left: 10px;
  margin-right: 10px;
}
input.empty {
  background: #cdeefe;
}
