.DS_Store
*.swp
Thumbs.db
/release/
/dist/
/MYukkuriVoice-*-x64/
MYukkuriVoice-*-x64.zip
MYukkuriVoice-*-x64.app
*.js
!gulpfile*.js
!webpack*.js
!/webpack/*.js
tsconfig.tsbuildinfo
!/docs/assets/js/*.js
/node_modules/
!/node_modules/bindings/
!/node_modules/debug/
!/node_modules/ffi-napi/
!/node_modules/file-uri-to-path/
!/node_modules/get-symbol-from-current-process-h/
!/node_modules/get-uv-event-loop-napi-h/
!/node_modules/ms/
!/node_modules/node-addon-api/
!/node_modules/ref-napi/
!/node_modules/ref-struct-di/

