<!DOCTYPE html>
<html ng-app="systemApp" shortcut-hint>
<head>
  <meta charset="UTF-8">
  <!--
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  -->
  <title>環境設定</title>
  <link rel="stylesheet" href="node_modules/photon/dist/css/photon.css">
  <link rel="stylesheet" href="css/shortcut-hint.css">
  <link rel="stylesheet" href="css/system.css">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="dist/renderer.system.js"></script>
</head>
<body>
<div class="window" ng-controller="SystemController as ctrl">
<div class="window-content">
  <form>
    <div class="box">
      ウィンドウサイズ
      <div class="form-group">
        width <input type="number" id="main-width" min="200" max="3000" step="1" ng-model="ctrl.store.appCfg.mainWindow.width"  placeholder="width">
        <span class="splitter">x</span>
        height <input type="number" id="main-height" min="200" max="3000" step="1" ng-model="ctrl.store.appCfg.mainWindow.height" placeholder="height" size="5">
      </div>
    </div>

    <div class="box">
      音声再生エンジン
      <div class="radio">
        <label>
          <input type="radio" id="audio-serv-ver-html5audio" ng-model="ctrl.store.appCfg.audioServVer" value="html5audio">html5audio
          <small>安定確実エンジン。一部機能に制限がある。</small>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" id="audio-serv-ver-webaudioapi8" ng-model="ctrl.store.appCfg.audioServVer" value="webaudioapi8">webaudioapi8
          <small>実験的エンジン。全ての機能を利用できる。</small>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" id="audio-serv-ver-webaudioapi" ng-model="ctrl.store.appCfg.audioServVer" value="webaudioapi">webaudioapi
          <small>旧・実験エンジン。sampleRate:44100Hz</small>
        </label>
      </div>
    </div>

    <div class="box">
      <div class="checkbox">
        <label><input type="checkbox" id="show-msg-pane" ng-model="ctrl.store.appCfg.showMsgPane">メッセージリストを表示する</label>
      </div>
    </div>

    <div class="box">
      拡張機能 <small>(実験的機能、もしくは一部環境でのみ動作)</small>
      <div class="checkbox">
        <label><input type="checkbox" id="extensions.fcpx" ng-model="ctrl.store.appCfg.extensions.fcpx">Final Cut Pro X</label>
      </div>
    </div>

    <div class="box">
      <div class="form-group">
        <label>AquesTalk10 使用ラインセンスキー</label>
        <input type="text" class="form-control" id="aq10-use-key" ng-model="ctrl.store.aq10UseKey" ng-class="{caution:ctrl.store.aq10UseKey==''}" placeholder="XXXX-XXXX-XXXX-XXXX">
        <small>AquesTalk10の機能を個人かつ非営利以外の用途で使う場合は、AquesTalk10の使用ライセンスキー(Mac用)、もしくは使用ライセンスキー(商用コンテンツ向け)を設定してください</small>
      </div>
    </div>
  </form>
</div><!-- window-content -->

<footer class="toolbar toolbar-footer">
  <div class="toolbar-actions">
    <button class="btn btn-large btn-default shortcut-hint-box" id="cancel" ng-click="ctrl.cancel()">
      キャンセル・閉じる
      <label class="shortcut-hint">W</label>
    </button>
    <button class="btn btn-large btn-default" id="save" ng-click="ctrl.save()">更新</button>
    <button class="btn btn-large btn-default pull-right" id="reset" ng-click="ctrl.reset()">環境設定リセット</button>
  </div>
</footer>

</div><!-- window -->
</body>
</html>

