<table class="table-striped message-list" ng-if="ctrl.store.showTypeMessageList">
  <thead ng-click="ctrl.switchMessageListType()">
    <tr>
      <th colspan="3">message list (click to display generated wav list) <span class="icon icon-shuffle"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="message-item-created">time</th>
      <th class="message-item-type">type</th>
      <th class="message-item-body">message</th>
    </tr>
    <tr class="message-item" ng-repeat="message in ctrl.store.messageList track by $index" ng-class="message.type">
      <td class="message-item-created" ng-bind="message.created | date: 'yyyy/M/d HH:mm:ss'"></td>
      <td class="message-item-type" ng-bind="message.type"></td>
      <td class="message-item-body" ng-click="ctrl.quickLookMessage(message)"><span ng-show="message.type=='record'" class="icon icon-music"></span><span ng-bind="message.body"></span></td>
    </tr>
  </tbody>
</table>

<table class="table-striped message-list" ng-if="!ctrl.store.showTypeMessageList">
  <thead ng-click="ctrl.switchMessageListType()">
    <tr>
      <th colspan="4">generated wav list (click to display message list) <span class="icon icon-shuffle"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="message-item-created">time</th>
      <th class="message-item-wavFileName">generated</th>
      <th class="message-item-body">message</th>
      <th class="message-item-encoded">encoded</th>
    </tr>
    <tr class="message-item" ng-repeat="message in ctrl.store.generatedList track by $index">
      <td class="message-item-created" ng-bind="message.created | date: 'yyyy/M/d HH:mm:ss'"></td>
      <td class="message-item-wavFileName" ng-attr-title="{{message.wavFilePath}}" ng-click="ctrl.quickLookMessage(message)"><span class="icon icon-music"></span> <span ng-bind="message.wavFileName"></span></td>
      <td class="message-item-source" ng-click="ctrl.recentDocument(message)"><span class="icon icon-publish"></span> <span ng-bind="message.source"></span></td>
      <td class="message-item-encoded" ng-bind="message.encoded"></td>
    </tr>
  </tbody>
</table>
