<table class="table-striped message-list" ng-if="showTypeMessageList">
  <thead ng-click="ctrl.switchMessageListType()">
    <tr>
      <th colspan="3">message list (click to display generated wav list) <span class="icon icon-shuffle"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="message-item-created">time</th>
      <th class="message-item-type">type</th>
      <th class="message-item-body">message</th>
    </tr>
    <tr class="message-item" ng-repeat="message in messageList track by $index" ng-class="{error:message.type=='error', syserror:message.type=='syserror',record:message.type=='record',source:message.type=='source'}" ng-click="ctrl.quickLookMessage(message)" title="{{message.source}}">
      <td class="message-item-created">{{message.created | date: 'yyyy/M/d HH:mm:ss'}}</td>
      <td class="message-item-type">{{message.type}}</td>
      <td class="message-item-body">{{message.body}}</td>
    </tr>
  </tbody>
</table>

<table class="table-striped message-list" ng-if="!showTypeMessageList">
  <thead ng-click="ctrl.switchMessageListType()">
    <tr>
      <th colspan="3">generated wav list (click to display message list) <span class="icon icon-shuffle"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="message-item-created">time</th>
      <th class="message-item-wavFileName">generated</th>
      <th class="message-item-body">message</th>
    </tr>
    <tr class="message-item" ng-repeat="message in generatedList track by $index" ng-click="ctrl.quickLookMessage(message)" title="{{message.wavFilePath}}">
      <td class="message-item-created">{{message.created | date: 'yyyy/M/d HH:mm:ss'}}</td>
      <td class="message-item-wavFileName">{{message.wavFileName}}</td>
      <td class="message-item-source">{{message.source}}</td>
    </tr>
  </tbody>
</table>
