<!DOCTYPE html>
<html ng-app="dictApp" menu shortcut shortcut-hint>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  <title>辞書ツール</title>
  <link rel="stylesheet" href="node_modules/photon/dist/css/photon.css">
  <link rel="stylesheet" href="node_modules/intro.js/minified/introjs.min.css">
  <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.min.css">
  <link rel="stylesheet" href="css/shortcut-hint.css">
  <link rel="stylesheet" href="css/dict.css">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/intro.js/minified/intro.min.js"></script>
  <script src="node_modules/angular-ui-grid/ui-grid.core.min.js"></script>
  <script src="node_modules/angular-ui-grid/ui-grid.cellnav.min.js"></script>
  <script src="node_modules/angular-ui-grid/ui-grid.edit.min.js"></script>
  <script src="node_modules/angular-ui-grid/ui-grid.row-edit.min.js"></script>
  <script src="node_modules/angular-ui-grid/ui-grid.resize-columns.min.js"></script>
  <script src="node_modules/angular-ui-grid/ui-grid.move-columns.min.js"></script>
  <script src="node_modules/angular-ui-grid/ui-grid.selection.min.js"></script>
  <script src="js/models.dict.js"></script>
  <script src="js/service.intro.js"></script>
  <script src="js/service.aqusrdic.js"></script>
  <script src="js/services.dict.js"></script>
  <script src="js/stores.dict.js"></script>
  <script src="js/reducers.dict.js"></script>
  <script src="js/event.shortcut-hint.js"></script>
  <script src="js/events.dict.js"></script>
  <script src="js/ctrl.dict.js"></script>
  <script src="js/apps.dict.js"></script>
</head>
<body>
<div class="window" ng-controller="DictController as ctrl">

  <!-- header -->
  <header class="toolbar toolbar-header">
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-large btn-default" id="tutorial" ng-click="ctrl.tutorial()">
          <span class="icon icon-help-circled"></span>チュートリアル
        </button>
      </div>

      <div class="btn-group pull-right">
        <button id="append-record" class="btn btn-large btn-default" ng-click="ctrl.add()">
          <span class="icon icon-plus-circled"></span>追加
          <label class="shortcut-hint">N</label>
        </button>
        <button id="delete-record" class="btn btn-large btn-default" ng-click="ctrl.remove()">
          <span class="icon icon-minus-circled"></span>削除
        </button>
      </div>
    </div>
  </header>
  <!-- // header -->

  <div class="window-content">
    <div class="pane-group">
      <!-- sidebar -->
      <div class="pane-sm sidebar">
        <ul class="list-group">
          <!-- save -->
          <li class="list-group-item shortcut-hint-box" id="save" ng-click="ctrl.save()">
            <img class="img-circle media-object pull-left" src="images/twotone_save_black_36dp.png" width="32" height="32">
            <div class="media-body">
              <strong>Save</strong>
              <p class="small">
                定義データの編集を保存し<br>
                ます。この操作でユーザー<br>
                辞書は更新しません。
              </p>
            </div>
            <label class="shortcut-hint">S</label>
          </li>
          <!-- cancel -->
          <li class="list-group-item" id="cancel" ng-click="ctrl.cancel()">
            <img class="img-circle media-object pull-left" src="images/twotone_cancel_black_36dp.png" width="32" height="32">
            <div class="media-body">
              <strong>Cancel</strong>
              <p class="small">
                作業データの編集を取り消<br>
                します。この操作でユーザ<br>
                ー辞書は更新しません。
              </p>
            </div>
          </li>
          <!-- export -->
          <li class="list-group-item" id="export" ng-click="ctrl.dump()" ng-class="{disable:ctrl.store.isInEditing}">
            <img class="img-circle media-object pull-left" src="images/twotone_import_export_black_36dp.png" width="32" height="32">
            <div class="media-body">
              <strong>Export</strong>
              <p class="small">
                作業データを元に、ユーザ<br>
                ー辞書を書き出しします。<br>
                編集中の作業データがある<br>
                場合は、Exportする前にSa<br>
                veしてください。
              </p>
            </div>
          </li>
          <!-- reload -->
          <li class="list-group-item" id="reload" ng-click="ctrl.reload()">
            <img class="img-circle media-object pull-left" src="images/twotone_cached_black_36dp.png" width="32" height="32">
            <div class="media-body">
              <strong>Reload</strong>
              <p class="small">
                MYukkuriVoiceのメイン画<br>
                面を読み込み直して、ユー<br>
                ザー辞書を反映させます。
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- // sidebar -->

      <!-- main -->
      <div class="pane">
        <div id="grid" ui-grid="ctrl.store.gridOptions"
          ui-grid-edit ui-grid-row-edit ui-grid-resize-columns ui-grid-selection ui-grid-cellNav
          class="grid"></div>
      </div>
      <!-- // main -->

    </div> <!-- // pane-group -->
  </div> <!-- // window-content -->

  <!-- footer -->
  <footer class="toolbar toolbar-footer" id="footer">
    <h1 class="title" ng-bind="ctrl.store.message"></h1>
  </footer>
</div> <!-- window -->
</body>
</html>
