<div id="settings-pane">
  <form>
    <div class="form-group">
      <!-- <label>name</label> -->
      <input type="text" class="form-control" id="name2" ng-model="yvoice.name" placeholder="name">
    </div>

    <div class="voice-tuna-box" id="voice-tuna-box" ng-show="appCfg.audioServVer == 'webaudioapi'">
      <div class="form-inline form-group">
        <small>playback rate:</small><input type="number" min="0" max="3" step="0.1" id="playback-rate" ng-model="yvoice.playbackRate">
        <small>detune:</small><input type="number" min="-1200" max="1200" step="50" id="detune" ng-model="yvoice.detune">
      </div>

      <div class="form-inline form-group voice-tuna-box-talk10" ng-show="yvoice.version == 'talk10'">
        <div><small class="label-tuna">AquesTalk10 音声カスタマイズ</small></div>
        <small class="label-tuna">ﾍﾞｰｽ:</small>
        <select ng-model="yvoice.bas" id="voice-qa10-bas">
          <option ng-repeat="option in aq10BasList track by option.id" ng-value="option.id">{{option.name}}</option>
        </select>
        <small class="label-tuna">高さ:</small><input type="number" min="20" max="200" step="1" id="voice-aq10-pit" ng-model="yvoice.pit">
        <small class="label-tuna">ｱｸｾﾝﾄ:</small><input type="number" min="0"  max="200" step="1" id="voice-aq10-acc" ng-model="yvoice.acc">
        <small class="label-tuna">音程:</small><input type="number" min="0"  max="200" step="1" id="voice-aq10-lmd" ng-model="yvoice.lmd">
        <small class="label-tuna">音程2:</small><input type="number" min="50" max="200" step="1" id="voice-aq10-fsc" ng-model="yvoice.fsc">
      </div>
    </div>

    <div class="source-write-box" id="source-write-box">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="yvoice.sourceWrite">音声記録時にテキストファイルにメッセージを書き出す
        </label>
      </div>
    </div>

    <div class="seq-write-box" id="seq-write-box">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="yvoice.seqWrite">連番ファイル出力機能を使用する
        </label>
      </div>
      <div class="form-group" ng-show="yvoice.seqWrite">
        <!-- <label>file name prefix</label> -->
        <input type="text" class="form-control" id="prefix" ng-model="yvoice.seqWriteOptions.prefix" placeholder="ファイル名のプレフィックス">
      </div>
      <div class="form-group" ng-show="yvoice.seqWrite">
        <button class="btn btn-large btn-default" id="directory" ng-click="ctrl.directory()">
          <span class="icon icon-folder"></span>出力先ディレクトリ選択
        </button>
        <small>dir: {{yvoice.seqWriteOptions.dir || '未選択時はデスクトップを使用'}}</small>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-large btn-default pull-right switch-view" id="switch-main-view" ng-click="ctrl.switchMainView()">
        <span class="icon icon-shuffle"></span>標準の画面に切替
      </button>
    </div>
  </form>

  <div static-include template-path="contents-main-messages.html" ng-show="appCfg.showMsgPane"></div>
</div><!-- settings pane -->

