<!DOCTYPE html>
<html ng-app="mainApp" shortcut menu drop-text-file recent-document>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  <title>MYukkuriVoice</title>
  <script src="js/apps.main.preload.js"></script>
  <link rel="stylesheet" href="node_modules/photon/dist/css/photon.css">
  <link rel="stylesheet" href="node_modules/intro.js/minified/introjs.min.css">
  <link rel="stylesheet" href="css/range.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-input-highlight/angular-input-highlight.js"></script>
  <script src="node_modules/intro.js/minified/intro.min.js"></script>
  <script src="js/models.main.js"></script>
  <script src="js/service.aques.js"></script>
  <script src="js/service.audio.js"></script>
  <script src="js/service.command.js"></script>
  <script src="js/service.data.js"></script>
  <script src="js/service.intro.js"></script>
  <script src="js/service.license.js"></script>
  <script src="js/service.message.js"></script>
  <script src="js/service.util.js"></script>
  <script src="js/services.main.js"></script>
  <script src="js/directive.include.js"></script>
  <script src="js/directive.drag.js"></script>
  <script src="js/directives.main.js"></script>
  <script src="js/stores.main.js"></script>
  <script src="js/reducers.main.js"></script>
  <script src="js/events.main.js"></script>
  <script src="js/ctrl.main.js"></script>
  <script src="js/apps.main.js"></script>
</head>
<body>
<div class="window" ng-controller="MainController as ctrl">

<header class="toolbar toolbar-header">
  <div class="toolbar-actions">
    <div class="btn-group" id="btn-group-audio">
      <button class="btn btn-large btn-default" id="play" ng-click="ctrl.play()" ng-disabled="(!yinput.source) && (!yinput.encoded)">
        <span class="icon icon-play"></span>再生
      </button>
      <button class="btn btn-large btn-default" id="stop" ng-click="ctrl.stop()">
        <span class="icon icon-stop"></span>停止
      </button>
      <button class="btn btn-large btn-default" id="record" ng-click="ctrl.record()" ng-disabled="(!yinput.source) && (!yinput.encoded)">
        <span class="icon icon-record"></span>記録
      </button>
    </div>

    <small id="duration">再生時間(秒):<span ng-bind="duration | number:2"></span></small>
    <button class="btn btn-large btn-default" id="always-on-top-btn" ng-click="ctrl.switchAlwaysOnTop()" title="前面表示固定のON/OFF切替">
      <span class="icon icon-lock" ng-class="{active:alwaysOnTop}"></span>
    </button>

    <div class="btn-group pull-right">
      <button class="btn btn-large btn-default" id="dictionary" ng-click="ctrl.dictionary()">
        <span class="icon icon-book"></span>辞書
      </button>
      <button class="btn btn-large btn-default" id="help" ng-click="ctrl.help()">
        <span class="icon icon-help-circled"></span>ヘルプ
      </button>
      <button class="btn btn-large btn-default" id="shortcut" ng-click="ctrl.shortcut()">
        <span class="icon icon-help-circled"></span>ショートカット
      </button>
      <button class="btn btn-large btn-default" id="tutorial" ng-click="ctrl.tutorial()">
        <span class="icon icon-help-circled"></span>チュートリアル
      </button>
    </div>
  </div>
</header>

<div class="window-content">
<div class="pane-group">
  <div class="pane-sm sidebar">
    <ul class="list-group" id="sidebar-items">
      <li class="list-group-header">
        <input class="form-control" id="filter-text" type="search" ng-model='filterText.name' placeholder="設定一覧絞り込み">
      </li>
      <li class="list-group-item voice-config-item" ng-repeat="yvoiceItem in yvoiceList | filter:filterText track by yvoiceItem.id" ng-class="{active:yvoiceItem.id == yvoice.id}" ng-attr-id="{{yvoiceItem.id}}">
        <div class="media-body" ng-click="ctrl.select($index)">
          <strong><span ng-bind="$index"></span>:<span ng-bind="yvoiceItem.name"></span></strong>
          <div class="btn-group pull-right">
            <button class="btn btn-default" id="copy" ng-click="ctrl.copy($index)" title="設定を複製します">
              <span class="icon icon-plus-circled"></span>
            </button>
            <button class="btn btn-default" id="minus" ng-click="ctrl.minus($index)" ng-show="yvoiceList.length > 1" title="設定を削除します">
              <span class="icon icon-minus-circled"></span>
            </button>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="btn-group pull-right">
          <button class="btn btn-large btn-default pull-right" id="plus" ng-click="ctrl.plus()">
            <span class="icon icon-plus-squared"></span>設定追加
          </button>
          <button class="btn btn-large btn-default" id="save" ng-click="ctrl.save()">
            <span class="icon icon-install"></span>設定保存
          </button>
        </div>
      </li>
      <li class="list-group-footer">
        <button class="btn btn-large btn-primary pull-right" id="wav-draggable-btn" wav-draggable ng-disabled="!lastWavFile" title="このボタンをドラッグアンドドロップすると、最後に作成した音声ファイルを取り出せます" ng-click="ctrl.quickLookMessage(lastWavFile)">
          <span class="icon icon-download"></span><span ng-bind="lastWavFile.wavFileName||'drag and drop to movie editor'"></span>
        </button>
      </li>
      <!-- for test -->
      <li class="list-group-footer" ng-if="::ctrl.isTest">
        <button class="btn btn-warning" id="show-system-window" ng-click="ctrl.showSystemWindow()">
          <span class="icon icon-rocket"></span>system window
        </button>
        <button class="btn btn-warning" id="show-spec-window" ng-click="ctrl.showSpecWindow()">
          <span class="icon icon-rocket"></span>spec window
        </button>
      </li>
    </ul>
  </div>

  <div class="pane" static-include template-path="contents-main-player.html" ng-show="ctrl.store.display == 'main'"></div>
  <div class="pane" static-include template-path="contents-main-settings.html" ng-if="ctrl.store.display == 'settings'"></div>

</div><!-- page-group -->
</div><!-- window-content -->
</div><!-- window -->
</body>
</html>

