<!DOCTYPE html>
<html ng-app="specApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  <title>MYukkuriVoice Test</title>
  <link rel="stylesheet" href="node_modules/intro.js/minified/introjs.min.css">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/intro.js/minified/intro.min.js"></script>
  <script src="js/models.main.js"></script>
  <script src="js/models.dict.js"></script>
  <script src="js/service.aques.js"></script>
  <script src="js/service.audio.js"></script>
  <script src="js/service.command.js"></script>
  <script src="js/service.data.js"></script>
  <script src="js/service.intro.js"></script>
  <script src="js/service.license.js"></script>
  <script src="js/service.message.js"></script>
  <script src="js/service.util.js"></script>
  <script src="js/services.main.js"></script>
  <script src="js/service.aqusrdic.js"></script>
  <script src="js/services.dict.js"></script>
  <script src="js/apps.spec.js"></script>
</head>
<body>
<div class="window" ng-controller="SpecController as ctrl">
<div class="window-content">
  <form>
    <!-- models -->
    <div>YPhontMasterList
      <button id="get-yphont-master-list" ng-click="ctrl.getYPhontMasterList()"></button>
      <input id="get-yphont-master-list-result" type="text" ng-model="getYPhontMasterListResult">
    </div>
    <div>YVoice
      <button id="get-yvoice" ng-click="ctrl.getYVoice()"></button>
      <input id="get-yvoice-result" type="text" ng-model="getYVoiceResult">
    </div>
    <div>YVoiceInitialData
      <button id="get-yvoice-initial-data" ng-click="ctrl.getYVoiceInitialData()"></button>
      <input id="get-yvoice-initial-data-result" type="text" ng-model="getYVoiceInitialDataResult">
    </div>
    <div>YInput
      <button id="get-yinput" ng-click="ctrl.getYInput()"></button>
      <input id="get-yinput-result" type="text" ng-model="getYInputResult">
    </div>
    <div>YInputInitialData
      <button id="get-yinput-initial-data" ng-click="ctrl.getYInputInitialData()"></button>
      <input id="get-yinput-initial-data-result" type="text" ng-model="getYInputInitialDataResult">
    </div>
    <div>YCommandInput
      <button id="get-ycommand-input" ng-click="ctrl.getYCommandInput()"></button>
      <input id="get-ycommand-input-result" type="text" ng-model="getYCommandInputResult">
    </div>

    <div>models-dict KindList
      <button id="get-kind-list" ng-click="ctrl.getKindList()"></button>
      <input id="get-kind-list-result" type="text" ng-model="getKindListResult">
    </div>
    <div>models-dict KindHash
      <button id="get-kind-hash" ng-click="ctrl.getKindHash()"></button>
      <input id="get-kind-hash-result" type="text" ng-model="getKindHashResult">
    </div>

    <div>LicenseService
      <input id="pass-phrase" type="text" ng-model="passPhrase">
      <input id="plain-key" type="text" ng-model="plainKey">
      <input id="encrypted-key" type="text" ng-model="encryptedKey">
      <button id="encrypt" ng-click="ctrl.encrypt()"></button>
      <button id="decrypt" ng-click="ctrl.decrypt()"></button>

      <input id="license-type" type="text" ng-model="licenseType">
      <button id="consumer-key" ng-click="ctrl.consumerKey()"></button>
      <input id="consumer-key-result" type="text" ng-model="consumerKeyResult">
      <input id="consumer-key-done" type="text" ng-model="consumerKeyDone">
      <input id="consumer-key-err" type="text" ng-model="consumerKeyErr">
    </div>

    <div>IntroService
      <button id="main-tutorial" ng-click="ctrl.mainTutorial()"></button>
      <button id="settings-tutorial" ng-click="ctrl.settingsTutorial()"></button>
      <button id="shortcut" ng-click="ctrl.shortcut()"></button>
      <button id="dict-tutorial" ng-click="ctrl.dictTutorial()"></button>
    </div>

    <div>MessageService
      <button id="action" ng-click="ctrl.action()"></button>
      <button id="record" ng-click="ctrl.record()"></button>
      <button id="record-source" ng-click="ctrl.recordSource()"></button>
      <button id="info" ng-click="ctrl.info()"></button>
      <button id="error" ng-click="ctrl.error()"></button>
      <button id="error-null" ng-click="ctrl.errorNull()"></button>
      <button id="syserror" ng-click="ctrl.syserror()"></button>
      <button id="syserror-null" ng-click="ctrl.syserrorNull()"></button>
      <input id="message-service-post" type="text" ng-model="messageServicePost">
      <input id="last-wav-file" type="text" ng-model="lastWavFile">
    </div>

    <div>CommandService
      <textarea id="contains-command-input" ng-model="containsCommandInput"></textarea>
      <button id="contains-command" ng-click="ctrl.containsCommand()"></button>
      <input id="contains-command-result" type="text" ng-model="containsCommandResult">

      <textarea id="parse-input-input" ng-model="parseInputInput"></textarea>
      <button id="parse-input" ng-click="ctrl.parseInput()"></button>
      <input id="parse-input-result" type="text" ng-model="parseInputResult">

      <input id="command-input-source" type="text" ng-model="commandInputSource">
      <button id="detect-voice-config" ng-click="ctrl.detectVoiceConfig()"></button>
      <input id="detect-voice-config-result" type="text" ng-model="detectVoiceConfigResult">

      <textarea id="command-input-list" ng-model="commandInputList"></textarea>
      <button id="to-string" ng-click="ctrl.toString()"></button>
      <textarea id="to-string-result" ng-model="toStringResult"></textarea>
    </div>

    <div>DataService
      <button id="load" ng-click="ctrl.load()"></button>
      <input id="load-result" type="text" ng-model="loadResult">
      <input id="load-err" type="text" ng-model="loadErr">

      <button id="initial-data" ng-click="ctrl.initialData()"></button>
      <input id="initial-data-result" type="text" ng-model="initialDataResult">

      <button id="create" ng-click="ctrl.create()"></button>
      <input id="create-result" type="text" ng-model="createResult">

      <button id="copy" ng-click="ctrl.copy()"></button>
      <input id="copy-result" type="text" ng-model="copyResult">

      <button id="save-data" ng-click="ctrl.saveData()"></button>
      <input id="save-data-result" type="text" ng-model="saveDataResult">

      <button id="clear" ng-click="ctrl.clear()"></button>
      <input id="clear-result" type="text" ng-model="clearResult">
    </div>

    <div>HistoryService
      <button id="history-load" ng-click="ctrl.historyLoad()"></button>
      <button id="history-save" ng-click="ctrl.historySave()"></button>
      <button id="history-clear" ng-click="ctrl.historyClear()"></button>
      <button id="history-get" ng-click="ctrl.historyGet()"></button>
      <button id="history-add" ng-click="ctrl.historyAdd()"></button>
      <button id="history-get-list" ng-click="ctrl.historyGetList()"></button>
      <input id="history-key" type="text" ng-model="historyKey">
      <input id="history-entry" type="text" ng-model="historyEntry">
      <input id="history-result" type="text" ng-model="historyResult">
      <input id="history-err" type="text" ng-model="historyErr">
    </div>

    <div>
      AquesService.AqKanji2Koe
      AquesService.AquesTalk2
      AquesService.AquesTalk10
      <input id="error-table-code" type="text" ng-model="errorTableCode">
      <input id="error-table-result" type="text" ng-model="errorTableResult">
      <button id="error-table-aqkanji2koe" ng-click="ctrl.errorTableAqkanji2koe()"></button>
      <button id="error-table-aquestalk2" ng-click="ctrl.errorTableAquestalk2()"></button>
      <button id="error-table-aquestalk10" ng-click="ctrl.errorTableAquestalk10()"></button>
    </div>
    <div>AquesService.AquesTalk1
      <input id="os-version" type="text" ng-model="osVersion">
      <input id="is-supported-result" type="text" ng-model="isSupportedResult">
      <button id="is-supported" ng-click="ctrl.isSupported()"></button>
    </div>
    <div>AquesService
      <input id="source" type="text" ng-model="source">
      <button id="encode" ng-click="ctrl.encode()"></button>
      <input id="encode-result" type="text" ng-model="encodeResult">
      <input id="encode-err" type="text" ng-model="encodeError">

      <input id="encoded" type="text" ng-model="encoded">
      <button id="wave-ver1" ng-click="ctrl.waveVer1()"></button>
      <button id="wave-ver2" ng-click="ctrl.waveVer2()"></button>
      <button id="wave-ver10" ng-click="ctrl.waveVer10()"></button>
      <input id="wave-result" type="text" ng-model="waveResult">
      <input id="wave-err" type="text" ng-model="waveErr">
    </div>

    <div>AqUsrDicService
      <input id="csv-path" type="text" ng-model="csvPath">
      <input id="user-dic-path" type="text" ng-model="userDicPath">
      <button id="generate-user-dict" ng-click="ctrl.generateUserDict()"></button>
      <input id="generate-user-dict-result" type="text" ng-model="generateUserDictResult">

      <button id="generate-csv" ng-click="ctrl.generateCSV()"></button>
      <input id="generate-csv-result" type="text" ng-model="generateCsvResult">

      <input id="surface" type="text" ng-model="surface">
      <input id="yomi" type="text" ng-model="yomi">
      <input id="pos-code" type="text" ng-model="posCode">
      <button id="validate-input" ng-click="ctrl.validateInput()"></button>
      <input id="validate-input-result" type="text" ng-model="validateInputResult">

      <button id="get-last-error" ng-click="ctrl.getLastError()"></button>
      <input id="get-last-error-result" type="text" ng-model="getLastErrorResult">
    </div>

    <div>AudioService1
      <input id="play1-encoded" type="text" ng-model="play1Encoded">

      <button id="play1-aqver1" ng-click="ctrl.play1AqVer1()"></button>
      <button id="play1-aqver2" ng-click="ctrl.play1AqVer2()"></button>
      <button id="play1-aqver10" ng-click="ctrl.play1AqVer10()"></button>
      <input id="play-result-1" type="text" ng-model="playResult1">

      <input id="wav-file-path-1" type="text" ng-model="wavFilePath1">
      <button id="record1-aqver1" ng-click="ctrl.record1AqVer1()"></button>
      <button id="record1-aqver2" ng-click="ctrl.record1AqVer2()"></button>
      <button id="record1-aqver10" ng-click="ctrl.record1AqVer10()"></button>
      <input id="record-result-1" type="text" ng-model="recordResult1">
    </div>

    <div>AudioService2
      <input id="play2-encoded" type="text" ng-model="play2Encoded">

      <button id="play2-aqver1" ng-click="ctrl.play2AqVer1()"></button>
      <button id="play2-aqver2" ng-click="ctrl.play2AqVer2()"></button>
      <button id="play2-aqver10" ng-click="ctrl.play2AqVer10()"></button>
      <input id="play-result-2" type="text" ng-model="playResult2">

      <input id="wav-file-path-2" type="text" ng-model="wavFilePath2">
      <button id="record2-aqver1" ng-click="ctrl.record2AqVer1()"></button>
      <button id="record2-aqver2" ng-click="ctrl.record2AqVer2()"></button>
      <button id="record2-aqver10" ng-click="ctrl.record2AqVer10()"></button>
      <input id="record-result-2" type="text" ng-model="recordResult2">
    </div>

    <div>AudioSourceService
      <input id="wav-file-path" type="text" ng-model="wavFilePath">
      <button id="source-fname" ng-click="ctrl.sourceFname()"></button>
      <input id="source-fname-result" type="text" ng-model="sourceFnameResult">

      <input id="file-path" type="text" ng-model="filePath">
      <input id="source-text" type="text" ng-model="sourceText">
      <button id="save" ng-click="ctrl.save()"></button>
      <input id="save-result" type="text" ng-model="saveResult">
      <input id="save-error" type="text" ng-model="saveError">
    </div>

    <div>SeqFNameService
      <input id="prefix" type="text" ng-model="prefix">
      <input id="num" type="text" ng-model="num">
      <button id="next-fname" ng-click="ctrl.nextFname()"></button>
      <input id="next-fname-result" type="text" ng-model="nextFnameResult">
      <input id="split-fname-filepath" type="text" ng-model="splitFnameFilepath">
      <button id="split-fname" ng-click="ctrl.splitFname()"></button>
      <input id="split-fname-result" type="text" ng-model="splitFnameResult">
      <input id="next-number-dir" type="text" ng-model="nextNumberDir">
      <input id="next-number-prefix" type="text" ng-model="nextNumberPrefix">
      <button id="next-number" ng-click="ctrl.nextNumber()"></button>
      <input id="next-number-result" type="text" ng-model="nextNumberResult">
    </div>

    <div>AppUtilService
      <input id="rhythm-text" type="text" ng-model="rhythmText">
      <button id="disable-rhythm" ng-click="ctrl.disableRhythm()"></button>
      <input id="disable-rhythm-result" type="text" ng-model="disableRhythmResult">
      <input id="duration" type="text" ng-model="duration">
      <button id="report-duration" ng-click="ctrl.reportDuration()"></button>
      <input id="report-duration-result" type="text" ng-model="reportDurationResult">
    </div>

  </form>
</div><!-- window-content -->
</div><!-- window -->
</body>
</html>

