<!DOCTYPE html>
<html ng-app="helpSearchApp">
<head>
  <meta charset="UTF-8">
  <title>検索ダイアログ</title>
  <link rel="stylesheet" href="node_modules/photon/dist/css/photon.css">
  <link rel="stylesheet" href="css/helpsearch.css">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="js/apps.helpsearch.js"></script>
</head>
<body>
<div class="window" ng-controller="HelpSearchController as ctrl">
<div class="window-content">
  <div class="pane-group">

    <div class="pane pane-left">
      <form ng-submit="ctrl.searchInPage()">
        <label>検索する文字列：</label>
        <input id="search-text" class="form-control" type="search" ng-model="searchText" autofocus>
      </form>
    </div> <!-- pane-left -->

    <div class="pane-mini pane-right">
      <button id="btn-search" class="btn btn-primary" ng-click="ctrl.searchInPage()">
        <span class="icon icon-search"></span>ページ内検索
      </button>
      <button id="btn-clear" class="btn btn-default" ng-click="ctrl.clearSearchForm()">
        <span class="icon icon-erase"></span>クリア
      </button>
      <button id="btn-close" class="btn btn-default" ng-click="ctrl.closeSearchForm()">
        <span class="icon icon-cancel"></span>閉じる
      </button>
    </div> <!-- pane-right -->

  </div> <!-- pane-group -->
</div> <!-- window-content -->
</div> <!-- window -->
</body>
</html>
