<!DOCTYPE html>
<html ng-app="yvoiceAppHelp">
<head>
  <meta charset="UTF-8">
  <title>MYukkuriVoice Help</title>
  <link rel="stylesheet" href="node_modules/photon/dist/css/photon.css">
  <link rel="stylesheet" href="css/help.css">
  <script src="node_modules/photon/dist/template-app/js/menu.js" charset="utf-8"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="js/help.js"></script>
</head>
<body>
<div class="window" ng-controller="HelpController as ctrl">
<div class="window-content">
<div class="pane-group">

  <div class="pane-sm sidebar">
    <nav class="nav-group">
      <h5 class="nav-group-title">Help</h5>
      <span class="nav-group-item" ng-class="{active:display == 'about'}" ng-click="display='about'">
        <span class="icon icon-help-circled"></span>MYukkuriVoiceについて
      </span>
      <span class="nav-group-item" ng-class="{active:display == 'shortcut'}" ng-click="display='shortcut'">
        <span class="icon icon-help-circled"></span>ショートカットキー
      </span>
      <span class="nav-group-item" ng-class="{active:display == 'voicecode'}" ng-click="display='voicecode'">
        <span class="icon icon-help-circled"></span>音声記号列
      </span>
      <span class="nav-group-item" ng-class="{active:display == 'trouble'}" ng-click="display='trouble'">
        <span class="icon icon-help-circled"></span>トラブルシューティング
      </span>
      <span class="nav-group-item" ng-class="{active:display == 'uninstall'}" ng-click="display='uninstall'">
        <span class="icon icon-help-circled"></span>アンインストールするには
      </span>
      <span class="nav-group-item" ng-class="{active:display == 'contact'}" ng-click="display='contact'">
        <span class="icon icon-help-circled"></span>連絡先
      </span>
    </nav>
  </div>

  <!-- about -->
  <div class="pane" ng-show="display == 'about'">
    <div class="content">
      <h4>MYukkuriVoiceについて</h4>
      <p>
        MYukkuriVoiceは、AquesTalkを利用したMac OSX向けの<br>
        動画制作向け合成音声生成アプリケーションです。<br>
        macOSX El Capitan (10.11)、macOS X Sierra (10.12)、および、それ以降に対応しています。
      </p>

      <p>
        本ソフトは、(株)アクエストの音声合成ライブラリAquesTalkを使用しており、その著作権は同社に帰属します。<br>
        本ソフトを営利目的で使用する場合は当該ライブラリの使用ライセンスが必要となります。<br>
        ご注意ください。<br>
        <a ng-click="ctrl.browser('http://www.a-quest.com/')">http://www.a-quest.com/</a>
      </p>
    </div>
  </div>

  <!-- shortcut -->
  <div class="pane" ng-show="display == 'shortcut'">
    <div class="content">
      <h4>ショートカットキー</h4>
      <table class="table-striped">
        <thead>
          <tr>
            <th>ショートカットキー</th>
            <th>機能</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Command + Q</td>
            <td>アプリ終了</td>
          </tr>
          <tr>
            <td>Command + P</td>
            <td>音声再生</td>
          </tr>
          <tr>
            <td>Command + W</td>
            <td>音声再生停止</td>
          </tr>
          <tr>
            <td>Command + S</td>
            <td>音声ファイル保存</td>
          </tr>
          <tr>
            <td>Command + ↑</td>
            <td>メッセージ入力欄に移動する</td>
          </tr>
          <tr>
            <td>Command + ↓</td>
            <td>音記号列入力欄に移動する</td>
          </tr>
          <tr>
            <td>Command + →</td>
            <td>メッセージを音記号列に変換します</td>
          </tr>
          <tr>
            <td>Command + D</td>
            <td>クリップボードのテキストをメッセージ入力欄にコピー</td>
          </tr>
          <tr>
            <td>Command + ←</td>
            <td>次の音声設定に移動します</td>
          </tr>
          <tr>
            <td>Command + Shift + ←</td>
            <td>前の音声設定に移動します</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- voicecode -->
  <div class="pane" ng-show="display == 'voicecode'">
    <div class="content">
      <h4>音声記号列</h4>
      <p>
        内部処理的には、音声を再生するAquesTalk用のコード、<br>
        音声記号列(音記号列)を作り、<br>
        それをAquesTalkのライブラリで再生しています。<br>
        <br>
        音声記号列の詳しい仕様は、<br>
        <a ng-click="ctrl.browser('http://www.a-quest.com/download/index.html')">http://www.a-quest.com/download/index.html</a><br>
        の「音声記号列仕様書」をご確認ください。<br>
    </div>
  </div>

  <!-- trouble -->
  <div class="pane" ng-show="display == 'trouble'">
    <div class="content">
      <h4>抑揚などの、他のアプリにある音声加工系の機能が<br>ない</h4>
      <p>
        音声の保存には手を抜いているところがあり、<br>
        よって、加工した音声を再生できるものの、それを保存できないので、<br>
        今のところ対応していません。<br>
        いずれ置き換えます。
      </p>

      <h4>音声が再生されない時がある</h4>
      <p>
        音声の再生機能は手を抜いているところがあり･･･<br>
        いずれ置き換える。
      </p>

      <h4>ヘルプのウィンドウが、アプリのウィンドウに<br>くっついて動く</h4>
      <p>
        ヘルプのウィンドウを開いている時、本体のアプリのウィンドウを動かすと、
        何故かヘルプのウィンドウも移動する。<br>
        これは、そういうものだと思ってください。<br>
      </p>

      <h4>Command + Wでアプリのウィンドウが閉じない</h4>
      <p>
        Command + Wで音声の再生停止に割り当てています。<br>
        ショートカットキーが上書きされているのです。<br>
        代わりに、Command + Qでアプリを終了させてください。
      </p>

      <h4>設定がこわれました</h4>
      <p>
        メニューに「設定オールリセット」があるので、それを選択してください。設定が初期化されます。<br>
        既存の設定は消えるので、残しておきたい設定はメモしておいてください。
      </p>

      <h4>画面が白くなりました</h4>
      <p>
        Command + Rでアプリケーションを再読み込みできます。<br>
        当面はそれで凌いでください。
      </p>

      <h4>アプリが落ちる</h4>
      <p>
        ごめんなさい。
      </p>
    </div>
  </div>

  <!-- uninstall -->
  <div class="pane" ng-show="display == 'uninstall'">
    <div class="content">
      <h4>アンインストールするには</h4>
      <p>
        <ul>
          <li>アプリケーションを削除してください</li>
          <li>"$HOME/Library/Application Support/myukkurivoice/" を削除してください</li>
        </ul>
      </p>
    </div>
  </div>

  <!-- contact -->
  <div class="pane" ng-show="display == 'contact'">
    <div class="content">
      <h4>連絡先</h4>
      <p>
        MYukkuriVoiceは、次のURLで開発されています。<br>
        <a ng-click="ctrl.browser('https://github.com/taku-o/myukkurivoice')">https://github.com/taku-o/myukkurivoice</a>
      </p>
    </div>
  </div>

</div><!-- page-group -->
</div><!-- window-content -->
</div><!-- window -->
</body>
</html>

