<!DOCTYPE html>
<html ng-app="yvoiceApp">
<head>
  <meta charset="UTF-8">
  <title>MYukkuriVoice</title>
  <link rel="stylesheet" href="node_modules/photon/dist/css/photon.css">
  <link rel="stylesheet" href="node_modules/intro.js/minified/introjs.min.css">
  <link rel="stylesheet" href="css/range.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="node_modules/photon/dist/template-app/js/menu.js" charset="utf-8"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-input-highlight/angular-input-highlight.js"></script>
  <script src="node_modules/intro.js/minified/intro.min.js"></script>
  <script src="js/models.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
  <script type="text/javascript">
    document.ondragover = document.ondrop = function(e) {
      e.preventDefault(); return false;
    };
  </script>
</head>
<body>
<div class="window" ng-controller="MainController as ctrl">

<header class="toolbar toolbar-header">
  <div class="toolbar-actions">
    <div class="btn-group" id="btn-group-audio">
      <button class="btn btn-large btn-default" id="play" ng-click="ctrl.play()" ng-disabled="(!yinput.source) && (!yinput.encoded)">
        <span class="icon icon-play"></span>再生
      </button>
      <button class="btn btn-large btn-default" id="stop" ng-click="ctrl.stop()">
        <span class="icon icon-stop"></span>停止
      </button>
      <button class="btn btn-large btn-default" id="record" ng-click="ctrl.record()" ng-disabled="(!yinput.source) && (!yinput.encoded)">
        <span class="icon icon-record"></span>記録
      </button>
    </div>

    <small>再生時間(秒):{{duration | number:2}}</small>
    <button class="btn btn-large btn-default" id="apiserver" ng-click="ctrl.launch_apiserver()" ng-show="app_cfg.apiserver.enabled">
      <span class="icon icon-signal" ng-class="{active:apiserver_launched}"></span>
    </button>

    <div class="btn-group pull-right">
      <button class="btn btn-large btn-default" id="help" ng-click="ctrl.help()">
        <span class="icon icon-help-circled"></span>ヘルプ
      </button>
      <button class="btn btn-large btn-default" id="shortcut" ng-click="ctrl.shortcut()">
        <span class="icon icon-help-circled"></span>ショートカットヘルプ
      </button>
      <button class="btn btn-large btn-default" id="tutorial" ng-click="ctrl.tutorial()">
        <span class="icon icon-help-circled"></span>{{display=="main"? "チュートリアル(通常)": "チュートリアル(設定)"}}
      </button>
    </div>
  </div>
</header>

<div class="window-content">
<div class="pane-group">
  <div class="pane-sm sidebar">
    <ul class="list-group" id="sidebar-items">
      <li class="list-group-header">
        <input class="form-control" type="text" ng-model='filter_text.name' placeholder="設定一覧絞り込み">
      </li>
      <li class="list-group-item" ng-repeat="yvoice_item in yvoice_list | filter:filter_text track by yvoice_item.id" ng-class="{active:yvoice_item.id == yvoice.id}">
        <div class="media-body" ng-click="ctrl.select($index)">
          <strong>{{ $index }}:{{ yvoice_item.name }}</strong>
          <div class="btn-group pull-right">
            <button class="btn btn-default" id="copy" ng-click="ctrl.copy($index)">
              <span class="icon icon-docs"></span>
            </button>
            <button class="btn btn-default" id="minus" ng-click="ctrl.minus($index)" ng-show="yvoice_list.length > 1">
              <span class="icon icon-minus-squared"></span>
            </button>
          </div>
        </div>
      </li>
      <li class="list-group-footer">
        <div class="btn-group pull-right">
          <button class="btn btn-large btn-default pull-right" id="plus" ng-click="ctrl.plus()">
            <span class="icon icon-plus-squared"></span>設定追加
          </button>
          <button class="btn btn-large btn-default" id="save" ng-click="ctrl.save()">
            <span class="icon icon-install"></span>設定保存
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="pane" ng-show="display == 'main'">
    <form>
      <div class="form-group">
        <!-- <label>name</label> -->
        <input type="text" class="form-control" id="name" ng-model="yvoice.name" placeholder="設定名称">
      </div>

      <div class="form-group">
        <!-- <label>Source</label> -->
        <textarea class="form-control" id="source" rows="4" ng-model="yinput.source" highlight="source_highlight" ng-blur="ctrl.blur_on_source()" ng-focus="ctrl.focus_on_source()" placeholder="メッセージ入力欄"></textarea>
      </div>

      <div class="form-inline form-group btn-group-convert">
        <button class="btn btn-large btn-default" id="encode" ng-click="ctrl.encode()" ng-disabled="!yinput.source">
          <span class="icon icon-down-bold"></span>音記号列に変換
        </button>
        <button class="btn btn-large btn-default" id="clear" ng-click="ctrl.clear()" ng-disabled="(!yinput.source) && (!yinput.encoded)">
          <span class="icon icon-trash"></span>入力クリア
        </button>
        <button class="btn btn-large btn-default" id="from_clipboard" ng-click="ctrl.from_clipboard()">
          <span class="icon icon-clipboard"></span>クリップボードから貼付
        </button>
      </div>
      <div class="form-group">
        <!-- <label>Encoded</label> -->
        <textarea class="form-control" id="encoded" rows="4" ng-model="yinput.encoded" highlight="encoded_highlight" ng-blur="ctrl.blur_on_encoded()" ng-focus="ctrl.focus_on_encoded()" placeholder="音記号列入力欄"></textarea>
      </div>

      <div class="form-inline form-group">
        <select class="form-control" ng-model="yvoice.phont" id="phont">
          <option ng-repeat="v in phont_list" ng-value="v.id">{{v.name}}</option>
        </select>
      </div>

      <div class="form-inline form-group">
        <input type="range" min="50" max="300" id="speed" ng-model="yvoice.speed">
        再生速度:{{yvoice.speed}}
      </div>
      <div class="form-inline form-group" ng-show="app_cfg.audio_serv_ver == 'webaudioapi'">
        <input type="range" min="0" max="3" step="0.1" id="volume" ng-model="yvoice.volume">
        音量:{{yvoice.volume}}
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="yvoice.rhythm_on">抑揚ON
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-large btn-default pull-right switch-view" id="switch-settings-view" ng-click="ctrl.switch_settings_view()">
          <span class="icon icon-shuffle"></span>設定画面に切替
        </button>
      </div>
    </form>

    <table class="table-striped message-list" ng-show="app_cfg.show_msg_pane">
      <thead>
        <tr>
          <th class="message-item-created">time</th>
          <th class="message-item-type">type</th>
          <th class="message-item-body">message</th>
        </tr>
      </thead>
      <tbody>
        <tr class="message-item" ng-repeat="message in message_list track by $index" ng-class="{error:message.type=='error', syserror:message.type=='syserror'}">
          <td class="message-item-created">{{message.created | date: 'yyyy/M/d hh:mm:ss'}}</td>
          <td class="message-item-type">{{message.type}}</td>
          <td class="message-item-body">{{message.body}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- main pane -->

  <div class="pane" ng-show="display == 'settings'">
    <form>
      <div class="form-group">
        <!-- <label>name</label> -->
        <input type="text" class="form-control" id="name2" ng-model="yvoice.name" placeholder="name">
      </div>

      <div class="voice_tuna_box" id="voice_tuna_box" ng-show="app_cfg.audio_serv_ver == 'webaudioapi'">
        <div class="form-inline form-group">
          <input type="range" min="0" max="3" step="0.1" id="playback_rate" ng-model="yvoice.playback_rate">
          playback rate:{{yvoice.playback_rate}}
        </div>
        <div class="form-inline form-group">
          <input type="range" min="-1200" max="1200" step="50" id="detune" ng-model="yvoice.detune">
          detune:{{yvoice.detune}}
        </div>

        <div class="form-inline form-group">
          <small>音声ファイル書込マージン (出力音声ファイルの最後が欠ける時に増やしてください)</small>
          <input type="number" min="0" max="10000" step="1" id="write_margin_ms" ng-model="yvoice.write_margin_ms" placeholder="write_margin_ms">
        </div>
      </div>

      <div class="source_write_box" id="source_write_box">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="yvoice.source_write">音声記録時にテキストファイルにメッセージを書き出す
          </label>
        </div>
      </div>

      <div class="seq_write_box" id="seq_write_box">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="yvoice.seq_write">連番ファイル出力機能を使用する
          </label>
        </div>
        <div class="form-group" ng-show="yvoice.seq_write">
          <!-- <label>file name prefix</label> -->
          <input type="text" class="form-control" id="prefix" ng-model="yvoice.seq_write_options.prefix" placeholder="ファイル名のプレフィックス">
        </div>
        <div class="form-group" ng-show="yvoice.seq_write">
          <button class="btn btn-large btn-default" id="directory" ng-click="ctrl.directory()">
            <span class="icon icon-folder"></span>出力先ディレクトリ選択
          </button>
          <small>dir: {{yvoice.seq_write_options.dir || '未選択時はデスクトップを使用'}}</small>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-large btn-default pull-right switch-view" id="switch-main-view" ng-click="ctrl.switch_main_view()">
          <span class="icon icon-shuffle"></span>標準の画面に切替
        </button>
      </div>
    </form>

    <table class="table-striped message-list" ng-show="app_cfg.show_msg_pane">
      <thead>
        <tr>
          <th class="message-item-created">time</th>
          <th class="message-item-type">type</th>
          <th class="message-item-body">message</th>
        </tr>
      </thead>
      <tbody>
        <tr class="message-item" ng-repeat="message in message_list track by $index" ng-class="{error:message.type=='error', syserror:message.type=='syserror'}">
          <td class="message-item-created">{{message.created | date: 'yyyy/M/d hh:mm:ss'}}</td>
          <td class="message-item-type">{{message.type}}</td>
          <td class="message-item-body">{{message.body}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- settings pane -->

</div><!-- page-group -->
</div><!-- window-content -->
</div><!-- window -->
</body>
</html>

